#surescripts-logo, #gap-logo, #jc-penney-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#retail-desc, .company-logo, #surescripts-head, #retail-head {
  margin-bottom: 3.5vh;
}

#surescripts-logo {
  padding-top: 4vh;
}

#dvi {
  padding-top: 5vh;
}

#dvi-desc {
  margin-top: 3vh;
}