.project-card {
  cursor: pointer;
  width: 100%;
}

.tech-img {
  max-width: 30%;
  height: 80px;
}

.tech-img-50 {
  max-width: 45%;
  height: 80px;
  padding-right: 2.5%;
  padding-left: 2.5%;
}

.project-card-header {
  font-size: 200%;
  margin-top: 1rem;
}
